.cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.cabecalho__container--principal {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.cabecalho__logo--icone {
    margin-right: .5em;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.cabecalho__menu--item {
    color: var(--cinza);
    text-decoration: none;
}

.cabecalho__container--botoes {
    display: flex;
    align-items: center;
}

.cabecalho-botao {
    text-decoration: none;
    color: var(--cinza);
}

.cabecalho__menu--item:hover {
    color: var(--preto);
}

.botao-entrar:hover {
    color: var(--preto);
}

.botao-cadastrar {
    color: var(--branco);
    background-color: var(--vinho);
    padding: .6em 1em;
    border-radius: 8px;
    margin-left: 2em;
}

.botao-cadastrar:hover {
    background-color: var(--vinho-claro);
}
