@import url("cabecalho.css");
@import url("cabecalhoSecundario.css");
@import url("metricas.css");

:root {
    --vinho: #8E2424;
    --vinho-claro: #b43939;
    --cinza: #667085;
    --branco: #FFFFFF;
    --preto: #000000;
    --font-padrao: 'Inter';
}

body {
    font-family: var(--font-padrao), sans-serif;
    font-size: 16px;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--cinza);
}
html::-webkit-scrollbar-track {
    background: var(--cinza);
}
html::-webkit-scrollbar-track-piece {
    background: var(--cinza);
}
html::-webkit-scrollbar-thumb {
    background: var(--vinho);
    border-radius: 5px;
}